body {
    font-family: sans-serif;
    font-size: 14pt; 
    text-align: center; 
}

#puzzlearea { 
    height: 400px; 
    margin: 0 auto; 
    position: relative; 
    width: 400px; 
} 

.highlight { 
    border-color: red; 
    cursor: pointer; 
} 

.puzzletile { 
    background-image: url("background.jpg"); 
    border: 2px solid black; 
    position: absolute; 
} 

.highlight, #output { 
    color: red; 
    border-color: red; 
} 

.puzzletile, #output { 
    font-size: 32pt; 
}